<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>여수시 관광정보 &gt; 추천 코스 여행</title>
    <link rel="stylesheet" type="text/css" href="public/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="public/css/common.css">
    <script type="text/javascript" src="public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="public/js/common.js"></script>
</head>

<body>
    <!-- site header -->
    <header class="site-header">
        <!-- utli menu -->
        <div class="header-top">
            <div class="container">
                <ul>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </div>
        <div class="header-content container" role="navigation">
            <!-- logo -->
            <h3 class="logo"><a href="index.html"><img src="public/img/logo.png" alt="아름다운 여수, 행복한 시민"></a></h3>
            <!-- global navigation bar  -->
            <ul class="gnb">
                <li>
                    <a href="tour_list.html">관광지 정보</a>
                </li>
                <li class="active">
                    <a href="course_list.html">추천 코스 여행</a>
                </li>
                <li>
                    <a href="review_list.html">관광지 리뷰</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- site content -->
    <section class="site-content">
        <!-- visual area -->
        <section class="visual sub">
            <h3><img src="public/img/txt-slogan.png" alt="해양 관광 휴양 도시, 생명의 푸르름 가득한 여수"></h3>
        </section>
        <!-- main content -->
        <section class="content-wrap container">
            <h2 class="content-title">추천 코스 여행</h2>
            <div class="row">
                <div class="right">
                    <a href="course_write.html" class="btn blue waves-effect waves-light layerOpener">작성</a>
                </div>
            </div>
            <div class="row">
                <article class="course">
                    <a href="course_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828588_28969.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">1박2일코스</h3>
                        <p class="writer">
                            <i class="material-icons tiny">brush</i> 테스트 </p>
                        <ul class="path">
                            <li>
                                <strong class="lbl">[사용자 추천]</strong>
                                <div class="desc">
                                    <span class="list">
                                        낭도 <i class="material-icons">navigate_next</i>
                                        돌산해양낚시공원 <i class="material-icons">navigate_next</i>
                                        진남관 <i class="material-icons">navigate_next</i>
                                        영취산진달래 <i class="material-icons">navigate_next</i>
                                        여수이순신마리나
                                    </span>
                                    <span class="cost">
                                        <span>대중교통</span>138분 소요 /
                                        <span>자가용</span>232분 소요
                                    </span>
                                </div>
                            </li>
                            <li>
                                <strong class="lbl">[대중교통 최단]</strong>
                                <div class="desc">
                                    <span class="list">
                                        진남관 <i class="material-icons">navigate_next</i>
                                        돌산해양낚시공원 <i class="material-icons">navigate_next</i>
                                        여수이순신마리나 <i class="material-icons">navigate_next</i>
                                        영취산진달래 <i class="material-icons">navigate_next</i>
                                        낭도
                                    </span>
                                    <span class="cost">
                                        112분 소요
                                    </span>
                                </div>
                            </li>
                            <li>
                                <strong class="lbl">[자가용 최단]</strong>
                                <div class="desc">
                                    <span class="list">
                                        돌산해양낚시공원 <i class="material-icons">navigate_next</i>
                                        여수이순신마리나 <i class="material-icons">navigate_next</i>
                                        낭도 <i class="material-icons">navigate_next</i>
                                        진남관 <i class="material-icons">navigate_next</i>
                                        영취산진달래
                                    </span>
                                    <span class="cost">
                                        64분 소요
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur, explicabo minus odit magni sunt magnam enim est pers ... [더보기]</p>
                    </div>
                </article>
            </div>
            <ul class="pagination center">
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            <script type="text/javascript" src="public/se2/js/HuskyEZCreator.js"></script>
        </section>
    </section>
    <!-- site footer -->
    <footer class="site-footer">
        <div class="container text-center">COPYRIGHT (C) 2018 WEBSKILLS.KOREA ALL RIGHT RESERVED</div>
    </footer>
</body>

</html>