<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>여수시 관광정보</title>
    <link rel="stylesheet" type="text/css" href="public/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="public/css/common.css">
    <script type="text/javascript" src="public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="public/js/common.js"></script>
</head>

<body>
    <!-- site header -->
    <header class="site-header">
        <!-- utli menu -->
        <div class="header-top">
            <div class="container">
                <ul>
                    <li><a href="member_login.html" class="layerOpener">로그인</a></li>
                    <li><a href="member_register.html" class="layerOpener">회원가입</a></li>
                </ul>
            </div>
        </div>
        <div class="header-content container" role="navigation">
            <!-- logo -->
            <h3 class="logo"><a href="index.html"><img src="public/img/logo.png" alt="아름다운 여수, 행복한 시민"></a></h3>
            <!-- global navigation bar  -->
            <ul class="gnb">
                <li>
                    <a href="tour_list.html">관광지 정보</a>
                </li>
                <li>
                    <a href="course_list.html">추천 코스 여행</a>
                </li>
                <li>
                    <a href="review_list.html">관광지 리뷰</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- site content -->
    <section class="site-content">
        <!-- visual area -->
        <section class="visual">
            <h3><img src="public/img/txt-slogan.png" alt="해양 관광 휴양 도시, 생명의 푸르름 가득한 여수"></h3>
        </section>
        <!-- main content -->
        <section class="content-wrap container">
            <h2 class="content-title">여수시 관광지</h2>
            <!-- tourlist destination card list -->
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531703723_45304.jpg)"></div>
                <div class="info">
                    <h3 class="subject">오동도</h3>
                    <div class="description">사계절 사람들이 찾아가는 곳!!!&nbsp;&nbsp;다시 만나는 오동도는 한층 더 마음에 와 닿는 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#동백꽃</span> <span>#섬</span> <span>#등대</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531704999_65792.jpg)"></div>
                <div class="info">
                    <h3 class="subject">거문도/백도</h3>
                    <div class="description">남해의 아름다운 섬 거문도와 백도&nbsp;남해안 최초로 불을 밝힌 거문도, 남해의 해금강이라 불리 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#삼산면</span> <span>#섬</span> <span>#등대</span> <span>#인어</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531706024_85384.jpg)"></div>
                <div class="info">
                    <h3 class="subject">향일암</h3>
                    <div class="description">커다란 바위 동굴인 일주문을 지나 만나는 새로운 세상절벽에 세워져 더 신비로운 향일암에 올라서면 세 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#돌산</span> <span>#일출</span> <span>#대웅전</span> <span>#임진왜란</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531707238_80916.jpg)"></div>
                <div class="info">
                    <h3 class="subject">금오도비렁길</h3>
                    <div class="description">‘비렁’은 벼랑(절벽)의 여수사투리&nbsp;여름 휴가지로 추천할 정도로 유명해진 금오도의 아름다운 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#절벽</span> <span>#안도대교</span> <span>#인어공주</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531707238_80917.jpg)"></div>
                <div class="info">
                    <h3 class="subject">여수세계박람회장</h3>
                    <div class="description">끝없이 펼쳐진 바다와 공연이벤트전 세계인에 감동을 선사했던 여수박람회장은 지구촌 단 하나뿐인 화려한 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#빅오</span> <span>#스카이타워</span> <span>#엑스포</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531707480_69855.jpg)"></div>
                <div class="info">
                    <h3 class="subject">진남관</h3>
                    <div class="description">선시대 400년간 수군의 본거지였던 여수국보 제304호인 진남관은 임진왜란이 끝난 다음해에 세운 단 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#충무공</span> <span>#임진왜란</span> <span>#역사코스</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531707555_51071.jpg)"></div>
                <div class="info">
                    <h3 class="subject">여수밤바다/산단야경</h3>
                    <div class="description">낭만과 황홀함이 넘치는 여수 도심 야경인기그룹 버스커버스커가 노래로 부를 만큼 바다를 끼고 도는 해 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#야경</span> <span>#이순신대교</span> <span>#돌산대교</span>
                    </p>
                </div>
            </article>
            <article class="card tourlist">
                <a href="tour_view.html" class="mask layerOpener"></a>
                <div class="img_wrap" style="background-image:url(public/upload/1531707613_62006.jpg)"></div>
                <div class="info">
                    <h3 class="subject">영취산진달래</h3>
                    <div class="description">온 산이 붉게 물들어 가슴이 먹먹하도록 만드는 진달래고향의 정취를 자아내는 영취산에 4월이면 활짝 ... [더보기]</div>
                    <p class="tag">
                        <span>#여수10경</span> <span>#이순신대교</span> <span>#진달래</span> <span>#진례산</span>
                    </p>
                </div>
            </article>
        </section>
    </section>
    <!-- site footer -->
    <footer class="site-footer">
        <div class="container text-center">COPYRIGHT (C) 2018 WEBSKILLS.KOREA ALL RIGHT RESERVED</div>
    </footer>
</body>

</html>