<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>여수시 관광정보 &gt; 관광지 리뷰</title>
    <link rel="stylesheet" type="text/css" href="public/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="public/css/common.css">
    <script type="text/javascript" src="public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="public/js/common.js"></script>
</head>

<body>
    <!-- site header -->
    <header class="site-header">
        <!-- utli menu -->
        <div class="header-top">
            <div class="container">
                <ul>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </div>
        <div class="header-content container" role="navigation">
            <!-- logo -->
            <h3 class="logo"><a href="index.html"><img src="public/img/logo.png" alt="아름다운 여수, 행복한 시민"></a></h3>
            <!-- global navigation bar  -->
            <ul class="gnb">
                <li>
                    <a href="tour_list.html">관광지 정보</a>
                </li>
                <li>
                    <a href="course_list.html">추천 코스 여행</a>
                </li>
                <li class="active">
                    <a href="review_list.html">관광지 리뷰</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- site content -->
    <section class="site-content">
        <!-- visual area -->
        <section class="visual sub">
            <h3><img src="public/img/txt-slogan.png" alt="해양 관광 휴양 도시, 생명의 푸르름 가득한 여수"></h3>
        </section>
        <!-- main content -->
        <section class="content-wrap container">
            <h2 class="content-title">관광지 리뷰</h2>
            <div class="row">
                <div class="right">
                    <a href="review_write.html" class="btn blue layerOpener">리뷰 작성</a>
                </div>
            </div>
            <div class="row">
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
                <article class="card review">
                    <a href="review_view.html" class="mask layerOpener"></a>
                    <div class="img_wrap" style="background-image:url(public/upload/1531828926_76446.jpg)"></div>
                    <div class="info">
                        <h3 class="subject">힐링 제대로 하고 왔어요</h3>
                        <p class="destination">관광지 : 오동도</p>
                        <p>
                            <span class="writer">
                                <i class="material-icons tiny">brush</i>
                                테스트
                            </span>
                            <span class="date">
                                <i class="material-icons tiny">access_time</i>
                                2018-07-17 21:02
                            </span>
                        </p>
                    </div>
                </article>
            </div>
            <ul class="pagination center">
                <li class="waves-effect"><a href="/webskills/4_20180711/review/list/1"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect active"><a href="/webskills/4_20180711/review/list/1">1</a></li>
                <li class="waves-effect"><a href="/webskills/4_20180711/review/list/1"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            <script type="text/javascript" src="public/se2/js/HuskyEZCreator.js"></script>
        </section>
    </section>
    <!-- site footer -->
    <footer class="site-footer">
        <div class="container text-center">COPYRIGHT (C) 2018 WEBSKILLS.KOREA ALL RIGHT RESERVED</div>
    </footer>
</body>

</html>