*{margin:0;padding: 0;}
ul,li{list-style: none;}
body{font-family:"Nanum Barun Gothic";font-weight:200;letter-spacing:-0.5px;overflow-x:hidden }
a{text-decoration: none;color: #000;}
.h2{text-align: center;margin: 50px 0px;font-weight: normal;font-size: 30px;}
.h2:after{content: "";display:block;width: 80px;height: 1px;background: #000;margin: 20px auto;}

input[type=radio]{display: none;}

.header{border-bottom: 1px solid #7f7f7f;display:flex; flex-flow: column;left: 0;bottom: 0;right: 0;top: 0;z-index:100;position:fixed;height: 140px;}
.head_top{height: 40px;background: #34495e;}
.common{width: 1280;height: 40px;margin: 0 auto;line-height: 40px;margin-right: 20px;}
.abox{float: right;}
.abox2{font-size: 19px;}
.abox a{color: #fff;font-size: 12px;}
.abox .ma{margin-right: 10px;}
.abox .mas{margin-left: 10px;}
.abox .be_af:after{content: "";display: inline-block;width: 1px; height: 10px; background: #fff;margin-left: 10px;}
.abox .be_af:before{content: "";display: inline-block;width: 1px; height: 10px; background: #fff;margin-right: 10px;}

.slide_sec {height: 700px;position: relative;}
.slide_sec:after{background: url(../img/txt-slogan.png) no-repeat center / cover;width: 704px;height: 55px;position: absolute;z-index: 50;left: calc(50% - 350px);right: 0;top: 150px;bottom: 0;content: "";}
.slide_sec ul{height: 700px;width: 400%;margin-top: 140px;display: flex;position: relative;animation: de_slide 12s infinite}
.slide_sec .btn{position: absolute;width: 20px;height: 20px;background: #fff;z-index: 50;border-radius: 20px;}
.slide_sec .sbtn{position: absolute;width: 13px;height: 20px;background: url(../img/icon-stop.png);z-index: 50;}
.slide_sec .n1{left: calc(44% - 20px);top: calc(100% - 70px)}
.slide_sec .n2{left: calc(47% - 20px);top: calc(100% - 70px)}
.slide_sec .n3{left: calc(50% - 20px);top: calc(100% - 70px)}
.slide_sec .n4{left: calc(53% - 20px);top: calc(100% - 70px)}
.slide_sec .n5{left: calc(56% - 20px);top: calc(100% - 70px)}
.slide_sec ul li{width: 25%;}
.slide_sec li:nth-child(1){background:url(../img/slide1.jpg) no-repeat center / cover;}
.slide_sec li:nth-child(2){background:url(../img/slide2.jpg) no-repeat center / cover;}
.slide_sec li:nth-child(3){background:url(../img/slide3.jpg) no-repeat center / cover;}
.slide_sec li:nth-child(4){background:url(../img/slide4.jpg) no-repeat center / cover;}


@keyframes de_slide{
}

#pos1:checked ~ .n1{padding: 0 10px;background: yellow;}
#pos2:checked ~ .n2{padding: 0 10px;background: yellow;}
#pos3:checked ~ .n3{padding: 0 10px;background: yellow;}
#pos4:checked ~ .n4{padding: 0 10px;background: yellow;}
#pos5:checked ~ .n5{padding: 0 10px;background: yellow;}

.head_bottom {height: 100px;background: #fff;}
.head_bottom .abox2 {}
.head_bottom .abox2 a:hover{background: #07f;color: #fff;}
.arr{display: flex;width: 1280;margin: 0 auto;line-height: 100px;justify-content: space-between;}
.arr > a{width: 173px; height: 67px;margin: auto 0;background:url(../img/logo.png);}
.arr .abox2 a{width: 150px;display: inline-block;text-align: center;}


.circle {width: 20px; height: 20px; background: #fff;position:absolute;cursor: pointer; border-radius: 25px}

.pause {width: 13px; height: 20px; background:url(../img/icon-stop.png);position:absolute;cursor: pointer;}

#pos1:checked ~ .slide_ul .page1 {width: 40px;  height:20px;}
#pos2:checked ~ .slide_ul .page2 {width: 40px;  height:20px;}

.page1 	{left: calc(50% - 50px); right: 0; bottom: 0; top: calc(100% - 50px);}
.page2 	{left: calc(50%); right: 0; bottom: 0; top:  calc(100% - 50px);}
.page3 	{left: calc(50% + 50px); right: 0; bottom: 0; top: calc(100% - 50px);}
.page4 	{left: calc(50% + 100px); right: 0; bottom: 0; top: calc(100% - 50px);}
.page5 	{left: calc(50% + 150px); right: 0; bottom: 0; top: calc(100% - 50px);}



.tour_info{width: 100%;background: #e9e9e9;} 
.tour_info >div{width: 1280px;margin: 0 auto;}
.to_in ul{display: flex;width: 1110px;height:950px;flex-wrap: wrap;margin: 0 auto;}
.to_in li{width: 350px; height: 450px;background: #fff;;position: relative;box-shadow: 1px 1px 3px #aaa;}
.to_in li a{position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 80;}
.to_in li .sl_bot{padding: 20px;background: #fff;position: absolute;left: 0;bottom: 0;right: 0;top:330px;display: flex;flex-flow: column;}


.h5{font-size: 21px;font-weight: bold;}
.spans{font-size: 17px; color: #737373;margin: 5px 0px}
.hash{font-size: 12px; color: red;font-weight: bold;}

.to_in li:after{width: 350px; height: 450px; background: rgba(0,0,0,0.3);content: "";position: absolute; left: 0;right: 0;top: 0;bottom: 0;opacity: 0;transition: .5s;}
.to_in li:hover{ cursor: pointer; }
.to_in li:hover:after{opacity: 1;transition: .5s; }

.to_in li:nth-child(2){margin:0px 30px;}
.to_in li:nth-child(5){margin:0px 30px;}

.food_info {margin: 0 auto;width: 1170px;}
.foo_in{height: 1200px;margin-bottom: 50px;}
.foo_in ul{display: flex;flex-flow: wrap;float:right;}
.foo_in .box{margin-bottom:10px;margin-left:10px;}
.foo_in .box:nth-child(1),
.foo_in .box:nth-child(4),
.foo_in .box:nth-child(8){margin-left:0;}
.foo_in .box:nth-child(6){margin-top: -295px;}
.foo_in .type_1{width: 580px; height: 580px;}
.foo_in .type_2{width: 285px; height: 285px;}
.foo_in .type_3{width: 285px; height: 580px;}
.foo_in .type_4{width: 580px; height: 285px;}
.foo_in .box{position: relative;overflow:hidden;}
.foo_in .img_wrap{position: absolute;left: 0;bottom: 0;right: 0; top:0;}
.foo_in .foo {position: absolute;bottom: 0;left: 0; right: 0; top: calc(100% - 100px);background: rgba(0,0,0,0.7);transition: .7s;}
.foo_in .foo > div{margin: 20px;}
.foo_in .foo .h4{color: #fff;font-size: 25px;margin-bottom: 5px;font-weight: 600}
.foo_in .foo .m_i{color: #fff;font-size: 17px;font-weight: 400;top: 10px;position: relative;}
.foo_in .foo .m_s{color: #fff;display: block;margin-top: 40px;font-size: 13px}

.box:hover {cursor: pointer;}
.box:hover .foo{position: absolute;bottom: 0;left: 0; right: 0; top: 0;background: rgba(0,0,0,0.7);transition: .7s;cursor: pointer;} 



.more_info ul{width: 100%; height: 670px;display: flex;}
.more_info li{width: 33.3%;height: 100%;transition: .5s;position: relative;}
.more_info li a{position: absolute;z-index: 40;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;}
.more_info li h2{top:calc(50% - 150px)}


.more_info li:hover {width: 80%;transition: .5s;cursor: pointer;}
.more_info li:nth-child(1){background: url(../img/nature1.jpg) no-repeat center / cover;}
.more_info li:nth-child(2){background: url(../img/nature2.jpg) no-repeat center / cover;}
.more_info li:nth-child(3){background: url(../img/nature3.jpg) no-repeat center / cover;}


.more_in:after{width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: absolute;left: 0;right: 0;top: 0;bottom: 0;content: "";z-index: 20}
.more_h2:after{content: "";display:block;width: 100px;height: 1px;background: #fff;margin: 20px auto;}
.more_h2{text-align: center;margin: 50px 0px;font-weight: normal;font-size: 55px;color: #fff;font-weight: lighter;z-index: 30;position: relative;}


.tour_after{width: 1000px;margin: 0 auto;}
.in_lump{display: flex;margin-bottom: 50px;}
.in_lump .imgs {margin-right:25px;width: 300px;height: 200px;display: flex;}
.in_lump .imgs img{position: absolute;transition: .3s;}
.in_lump .imgs img:nth-child(1){z-index: 30}
.in_lump .imgs img:nth-child(2){z-index: 20}
.in_lump .imgs img:nth-child(3){z-index: 10}
.in_lump .imgs:hover {cursor: pointer;}
.in_lump .imgs:hover img:nth-child(2){transform: translateX(300px);transition: .3s}
.in_lump .imgs:hover img:nth-child(3){transform: translateX(600px);transition: .5s}
.in_lump .ment{width: 675px;height: 200px;}
.in_lump .ment .h4{font-size: 21px;font-weight: normal;margin-bottom: 20px;color: #113184}
.in_lump .ment .when{font-size: 16px;font-weight: normal;display: block;margin-bottom: 20px;}
.in_lump .ment .m_title{font-size: 19px;font-weight: 400;display: block;margin-bottom: 20px;}
.in_lump .ment .m_intro{font-size: 15px;font-weight: normal;display: inline-block;}

.footer{height: 150px;width: 1100px; margin: 0 auto;display: flex;justify-content: space-between;font-size: 13px;align-items: center;}
.icon_part{margin-bottom: 10px;}
.icon_part img{width: 25px;height: 25px;}
.logo_part{}
.footer ul{display: flex;flex-flow: column;line-height: 20px;}
.footer li{display: flex;flex-flow: wrap;}

.ps1:after{content: "";display: inline-block;width: 1px; height: 10px; background: #9f9f9f; margin:0 5px }
.ps2:after{content: "";display: inline-block;width: 1px; height: 10px; background: #9f9f9f; margin:0 5px }
.ps3:after{content: "";display: inline-block;width: 1px; height: 10px; background: #9f9f9f; margin:0 5px }
.ps4:after{content: "";display: inline-block;width: 1px; height: 10px; background: #9f9f9f; margin:0 5px }
.strong{font-weight: bold;}

.box2_ment{line-height: 20px;padding: 13px}
.big_size {font-size: 17px;font-weight: bold;}
.middle_size {font-size: 14px}
.small_size {font-size: 13px}

/**/

#sec1-1{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec1-2{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec1-3{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec1-4{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec1-5{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec1-6{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}

#sec1-1:target {opacity: 1;z-index: 150;transition: .5s}
#sec1-2:target {opacity: 1;z-index: 150;transition: .5s}
#sec1-3:target {opacity: 1;z-index: 150;transition: .5s}
#sec1-4:target {opacity: 1;z-index: 150;transition: .5s}
#sec1-5:target {opacity: 1;z-index: 150;transition: .5s}
#sec1-6:target {opacity: 1;z-index: 150;transition: .5s}

#sec1-1:target ~ .tour_info .slice1 div{display: none;}
#sec1-2:target ~ .tour_info .slice1 div{display: none;}
#sec1-3:target ~ .tour_info .slice1 div{display: none;}
#sec1-4:target ~ .tour_info .slice1 div{display: none;}
#sec1-5:target ~ .tour_info .slice1 div{display: none;}
#sec1-6:target ~ .tour_info .slice1 div{display: none;}





#sec2-1{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec2-1:target {opacity: 1;z-index: 150;transition: .5s}
#sec2-2{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec2-2:target {opacity: 1;z-index: 150;transition: .5s}
#sec2-3{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: -10;opacity: 0;}
#sec2-3:target {opacity: 1;z-index: 150;transition: .5s}


.min_box2{position: absolute;left: calc(50% - 400px);right: 0;top: calc(50% - 350px);bottom: 0;width: 920px;height: 480px;display: flex;justify-content: space-between;}
.min_box2 .center{width: 800px;background: #fff;height:700px;position: relative;}
.min_box2 .center a{position: absolute;right: 0;top: 0;width: 27px;height: 27px;background: #0198ff; text-align: center; line-height: 27px;font-size: 13px;color: #fff;}
.min_box2 .center ul{display: flex; flex-flow: wrap;padding: 30px;}
.min_box2 .center li{width: 234px; height: 315px;border: 1px solid #dddddd}
.min_box2 .center li:nth-child(2){margin: 0 10px;}
.min_box2 .center li:nth-child(4){margin-top: 15px;margin-right: 10px;}
.min_box2 .center li:nth-child(5){margin-top: 15px;margin-right: 10px;}
.min_box2 .center li:nth-child(6){margin-top: 15px;margin-right: 10px;}
.min_box2 .center li > div{width: 235px;height: 235px;}
.min_box2 .center li .box2_img1 {background: url(../img/part3-2-1.jpg) no-repeat center / cover;}
.min_box2 .center li .box2_img2 {background: url(../img/part3-2-2.jpg) no-repeat center / cover;}
.min_box2 .center li .box2_img3 {background: url(../img/part3-2-3.jpg) no-repeat center / cover;}
.min_box2 .center li .box2_img4 {background: url(../img/part3-2-4.jpg) no-repeat center / cover;}
.min_box2 .center li .box2_img5 {background: url(../img/part3-2-5.jpg) no-repeat center / cover;}
.min_box2 .center li .box2_img6 {background: url(../img/part3-2-6.jpg) no-repeat center / cover;}



.min_box{position: absolute;left: calc(50% - 480px);right: 0;top: calc(50% - 250px);bottom: 0;width: 920px;height: 480px;display: flex;justify-content: space-between;}
.min_box .left{width: 350px;background: #fff;height:480px;display: flex;flex-flow: column}
.min_btm{padding: 20px;background: #fff;display: flex;flex-flow: column;}
.min_box .min_bg1{background: url(../img/photo1.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .min_bg2{background: url(../img/photo2.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .min_bg3{background: url(../img/photo3.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .min_bg4{background: url(../img/photo4.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .min_bg5{background: url(../img/photo5.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .min_bg6{background: url(../img/photo6.jpg) no-repeat center / cover;width: 100%;height: 70%;}
.min_box .right{width: 560px;height: 480px; background: #fff;}
.min_box .right a{position: absolute;right: 0;width: 25px;height: 25px;background: #0098ff;text-align: center;line-height: 25px;font-size: 11px;color: #fff;}
.min_box .right div {margin: 30px;}
.min_box .right div> .right_ment{font-size: 13px;}

